@charset "UTF-8";
body {
  background-color:#009ED8 ;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#whole{
	height: 192px;
    width: 55%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: -169px;
    align-items: center;
}

h3{
	font-size: 35px;
    font-family: sans-serif;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
     
}
.icon{
	 font-size: 531%;
}
